<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <h1>Identificador de Usuario: [[userid]] </h1>
    <table border="1" width="50%">
      <tr>
        <td width="50%" align="center"><b>Nº de Cuenta<b></td>
        <td width="30%"align="center"><b>Saldo</b></td>
        <td>&nbsp;</td>
        
      </tr>
      <template is="dom-repeat" items="[[accounts]]"> 
        <tr rowspan="2">
          <td>{{item.iban}}</td>
          <td align="right">{{item.balance}} €</td>
          <td align="center"><button on-click="getMovimientos" id="{{item.iban}}">Detalle</button></td>
        </tr>
      </template>
    </table>


    <iron-ajax
      auto
      id="getAccounts"
      url="http://localhost:3000/osbank/mlab/accounts/{{userid}}"
      handle-as="json"
      on-response="showData"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, userid :{
            type: String
          }, balance: {
            type: Number
          }, isLogged: {
            type: Boolean,
            value: false
          }

        };
      }

      showData(data) {
        console.log("Entramos en la función showData");
        console.log(data.detail.response);

        this.accounts = data.detail.response;

        this.userid = data.detail.response[0].userId;
        this.iban = data.detail.response[0].iban;
        this.balance = data.detail.response[0].balance;
      }

      getMovimientos(e){
        
        this.iban = e.srcElement.id;
        alert("this.iban = " + this.iban);

        // disparamos el evento para que el componente "login-form" pueda recuerar los movimientos asociados a la cuenta
        this.dispatchEvent(
          new CustomEvent(
            "account-selected",  
            {
              "detail" : {
                "iban" : e.srcElement.id
              }
            }
          )
        )        
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
