<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-form/login-form.html">
<!--<link rel="import" href="../visor-cuentas/visor-cuentas.html">//-->
<!--<link rel="import" href="../visor-movimientos/visor-movimientos.html">//-->
<link rel="import" href="../visor-cuentas-manager/visor-cuentas-manager.html">

<dom-module id="login-manager">

  <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <login-form on-login-correcto="procesarLogin"></login-form>
      <!--<visor-cuentas-manager hidden$="{{!isLogged}}" userid="{{userid}}"></visor-cuentas-manager>//-->
      <!--<visor-cuentas hidden$="{{!isLogged}}" userid="{{userid}}" on-account-selected="procesarMovimientos"></visor-cuentas>//-->
      <!--<visor-movimientos hidden$="{{!isLogged}}" iban="{{iban}}"></visor-movimientos>//-->

  </template>


  <script>
      /**
       * @customElement
       * @polymer
       */
      class LoginManagerEvento extends Polymer.Element {
        static get is() { return 'login-manager'; }
        static get properties() {
          return {
            isLogged: {
              type: Boolean,
              value: false
            },    
            userid: {
              type: Number
            }, 
            iban: {
              type: String
            }        
          };
        } 
  
        procesarLogin(e) {
          console.log("login-manager.html --> procesarLogin");
          console.log(e);
          console.log(e.detail);

          if(e.detail.isLogged){
            this.isLogged = e.detail.isLogged;
            this.userid = e.detail.id;
          }
        } 
        /*
        procesarMovimientos(e){
          alert("procesar movimientos");
          this.iban = e.detail.iban;
        }  
        */
      }    

        
    
    window.customElements.define(LoginManagerEvento.is, LoginManagerEvento);

  </script>

</dom-module>