<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">


<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/app-route/app-location.html">

<script src="../bower_components/iron-ajax/iron-ajax.js"></script>
<script src="../bower_components/paper-button/paper-button.js"></script>
<script src="../bower_components/iron-localstorage/iron-localstorage.js"></script>
<script src="../bower_components/iron-input/iron-input.js"></script>
<script src="../bower_components/paper-input/paper-input.js"></script>

<dom-module id="register-login">

  <template>

    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      .wrapper-btns {
        margin-top: 15px;
      }
      paper-button.link {
        color: #757575;
      }

      .alert-error {
        background: #ffcdd2;
        border: 1px solid #f44336;
        border-radius: 3px;
        color: #333;
        font-size: 14px;
        padding: 10px;
      }  
    </style>

    <iron-ajax
        id="registerLoginAjax"
        method="post"
        content-type="application/json"
        handle-as="text"
        on-response="handleUserResponse"
        on-error="handleUserError">
    </iron-ajax>    

    <app-location route="{{route}}"></app-location>    


    <div class="card">
      <iron-localstorage name="user-storage" value="{{storedUser}}"></iron-localstorage>  
      <div id="authenticated" hidden$="[[!storedUser.loggedin]]">
          <h2>Hello, [[storedUser.name]]!</h2>
          <p>You are currently logged in. You can access <a href="[[rootPath]]secret-quotes">Secret Quotes</a>!</p>
      </div>          
      <div id="unauthenticated" hidden$="[[!storedUser.loggedin]]">
          <h1>Log In</h1>

          <p><strong>Log in</strong> or <strong>sign up</strong> to access secret Chuck Norris quotes!</p>
          
          <template is="dom-if" if="[[error]]">
            <p class="alert-error"><strong>Error:</strong> [[error]]</p>
          </template>

          <paper-input-container>
            <label slot="input">Username</label>
            <iron-input slot="input" bind-value="{{formData.username}}">
              <input id="username" type="text" value="{{formData.username}}" placeholder="Username">
            </iron-input>
          </paper-input-container>

          <paper-input-container>
            <label>Password</label>
            <iron-input slot="input" bind-value="{{formData.password}}">
              <input id="password" type="password" value="{{formData.password}}" placeholder="Password">
            </iron-input>
          </paper-input-container>

          <div class="wrapper-btns">
            <paper-button raised class="primary" on-tap="postLogin">Log In</paper-button>
            <paper-button class="link" on-tap="postRegister">Sign Up</paper-button>
          </div>
      </div>
    </div>
  </template>

  <script>
    class RegisterLogin extends Polymer.Element {
      static get is() { return 'register-login'; }

      static get properties() {
        return {
          formData: {
            type: Object,
            value: {}
          },
          storedUser: Object,
          error: String
        }
      }

      _setReqBody() {
          this.$.registerLoginAjax.body = this.formData;
      }

      postLogin() {
        //this.$.registerLoginAjax.url = 'http://localhost:3001/sessions/create';
        this.$.registerLoginAjax.url = 'http://localhost:3000/osbank/mlab/login';        
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }

      postRegister() {
        this.$.registerLoginAjax.url = 'http://localhost:3001/users';
        this._setReqBody();
        this.$.registerLoginAjax.generateRequest();
      }
      
      
      handleUserResponse(event) {
        var response = JSON.parse(event.detail.response);

        if (response.id_token) {
          this.error = '';
          this.storedUser = {
            name: this.formData.username,
            id_token: response.id_token,
            access_token: response.access_token,
            loggedin: true
          };

          // redirect to Secret Quotes
          this.set('route.path', '/secret-quotes');          
        }

        // reset form data
        this.formData = {};
      }   

      handleUserError(event) {
        this.error = event.detail.request.xhr.response;
      }
    }

    window.customElements.define(RegisterLogin.is, RegisterLogin);
  </script>
</dom-module>