<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <h1>Movimientos cuenta [[iban]] </h1>
    <table border="1" width="50%">
      <tr>
        <td width="50%" align="center"><b>Importe<b></td>
        <td align="center"><b>Descripción</b></td>
        
      </tr>
      <template is="dom-repeat" items="[[movements]]"> 
        <tr rowspan="2">
          <td align="center">{{item.amount}} €</td>
          <td align="left">{{item.description}}</td>
        </tr>
      </template>
    </table>


    <iron-ajax 
      auto
      id="getMovements"
      url="http://localhost:3000/osbank/mlab/movements/'{{iban_origen}}'"
      handle-as="json"
      on-response="showData"
    >


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          iban_origen: {
            type: String,
            value: "",
            //observer: '_iban_origenChanged'  // _ nombre propiedad Changed
          }, iban_destino: {
            type: String
          }, amount :{
            type: Number
          }, description: {
            type: String
          }
        };
      }

      showData(data) {
        console.log("visor-movimientos-->Entramos en la función showData");
        console.log(data.detail.response);

        this.movements = data.detail.response;

        this.iban = data.detail.response[0].iban;
        this.amount = data.detail.response[0].amount;
        this.description = data.detail.response[0].description;
      }

      _iban_origenChanged(newValue, oldValue) {
        console.log("visor-movimientos-->_iban_origenChanged");

        var iban_data = {
          "iban_origen" : this.iban_origen
        };          

        // Lanzamos la petición iron-ajax doLogin
        this.$.getMovements.body = JSON.stringify(iban_data);
        console.log("Lanzamos la petición this.$.getMovements.generateRequest")
        this.$.getMovements.generateRequest();        


        //console.log(JSON.stringify(loginData));

        //this.$.getMovements.body = JSON.stringify(loginData);
        //console.log("this.$.doLogin.body = " + this.$.doLogin.body);

        console.log("Después de lanzar la petición this.$.getMovements.generateRequest");        
      }      

    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
