<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="login-block">

  
  <template>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
 
      
      <div width="50%" hidden$="{{isLogged}}">
        <div class="col-1">
          <input placeholder="email" type="email" value="{{email::input}}"></input>
        </div>
        <div class="col-2">
          <input placeholder="password" type="password" value="{{password::input}}"></input>
        </div>
        <div class="col-3">
          <button on-click="sendEvent">Login</button>
        </div>
        <div class="col-5 offset-8">Hazte cliente</div>
      </div>
 
      <div class="col-4">
        <span hidden$="{{!isLogged}}">Bienvenido de nuevo!!!!! [[email]]</span> 
        <span hidden$="{{!isLogged}}"><button on-click="logOut">Cerrar sesión</button></span>
      </div>         
      
     
      <iron-ajax
      id="doLogin"
      method="POST"
      url="http://localhost:3000/osbank/mlab/login"
      handle-as="json"
      content-type="application/json"      
      on-response="manageAJAXResponseLogin"
      loading="{{cargando}}"
      error="showError">
      ></iron-ajax> 

      <iron-ajax
      id="doLogout"
      method="POST"
      url="http://localhost:3000/osbank/mlab/logout/{{id}}"
      handle-as="json"
      content-type="application/json"      
      on-response="manageAJAXResponseLogout"
      //last-response="{{data}}"
      loading="{{cargando}}"
      error="showError">
      ></iron-ajax>       

    <script type="module" src="../../bower_components/paper-spinner/paper-spinner.js"></script>     
    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>     

  </template>

  <script>
      /**
       * @customElement
       * @polymer
       */
      class LoginBlockEvento extends Polymer.Element {
        static get is() { return 'login-block'; }
        static get properties() {
          return {
            id: {
              type: Number, 
            },           
            email: {
              type: String
            }, password: {
              type: Number
            },
            isLogged: {
              type: Boolean,
              value: false
            },
            cargando: {
              type: Boolean
            }
          };
        }
  
  
        sendEvent(e) {
          console.log("sendEvent");
          console.log(e);

          var loginData = {
          "email" : this.email,
          "password" : this.password
        };      

        console.log(JSON.stringify(loginData));

        this.$.doLogin.body = JSON.stringify(loginData);
        console.log("this.$.doLogin.body = " + this.$.doLogin.body);

        // Lanzamos la petición iron-ajax doLogin
        console.log("Lanzamos la petición this.$.doLogin.generateRequest")
        this.$.doLogin.generateRequest();

        console.log("Después de lanzar la petición this.$.doLogin.generateRequest"); 
      }

      manageAJAXResponseLogin(data) {
        console.log("manageAJAXResponseLogin");
        console.log(data.detail.response);


        //window.location = "clients/" + data.detail.response.id;

        this.isLogged = data.detail.response.isLogged;
        //this.email = data.detail.response.usuario;
        //this.id = data.detail.response.id;

        this.dispatchEvent(
          new CustomEvent(
            "login-correcto",  //el nombre que yo quiera, pero en minusculas
            {
              "detail" : {
                "id" : data.detail.response.id,
                "isLogged" : data.detail.response.isLogged
              }
            }
          )
        );  
      }

      logOut() {
          console.log("logOut");

          var logoutData = {
          "id" : this.id,
          "isLogged" : null
        };           

        console.log(JSON.stringify(logoutData));

        this.$.doLogout.body = JSON.stringify(logoutData);
        console.log("this.$.doLogout.body = " + this.$.doLogout.body);

        // Lanzamos la petición iron-ajax doLogin
        console.log("Lanzamos la petición this.$.doLogout.generateRequest")
        this.$.doLogout.generateRequest();

        console.log("Después de lanzar la petición this.$.doLogout.generateRequest"); 
      }

      manageAJAXResponseLogout(data) {
          console.log("manageAJAXResponseLogout");
          console.log(data.detail.response);          

          window.location = 'index.html';

          this.email = "";
          this.password = "";
          this.isLogged = false;
      }   
   }   



      window.customElements.define(LoginBlockEvento.is, LoginBlockEvento);      
  </script>

</dom-module>