<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">


<dom-module id="visor-cuentas-manager">

  <template>
      <style>
        :host {
          display: block;
        }
      </style>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <visor-cuentas hidden$="{{!isLogged}}" userid="{{userid}}" on-account-selected="procesarMovimientos"></visor-cuentas>
      <visor-movimientos hidden$="true" id="receptor"></visor-movimientos>

      <ul>
        <template is="dom-repeat" items="[[cuentas]]">
          <li>[[item.name]]</li>
        </template>
      </ul>    
      
  </template>


  <script>
      /**
       * @customElement
       * @polymer
       */
      class VisorCuentasManagerEvento extends Polymer.Element {
        static get is() { return 'visor-cuentas-manager'; }
        static get properties() {
          return {
            cuentas: Array
          };
        }
  
  
        procesarMovimientos(e) {

          console.log("visor-cuentas-manager-->procesarMovimientos");
          console.log(e);
          console.log(e.detail);

          this.$.receptor.iban_origen = e.detail.iban;         
        } 
      }      
    
    window.customElements.define(VisorCuentasManagerEvento.is, VisorCuentasManagerEvento);

  </script>

</dom-module>