<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="prueba-ajax">
  <template>
    <iron-ajax
      auto
      url="http://jsonplaceholder.typicode.com/users/4"
      handle-as="json"
      last-response="{{data}}"
    ></iron-ajax>

    <script type="module" src="../../bower_components/paper-spinner/paper-spinner.js"></script>    

  
    <paper-spinner alt="Cargando el usuario..." active="[[cargando]]"></paper-spinner>     

    Muestro [[data.name]]
  </template>

  <script>
    Polymer({
      is: "prueba-ajax"
    });
  </script>

</dom-module>