<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../login-form/login-form.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">


<dom-module id="dash-board">

  <template>
      <style>
        :host {
          display: block;
        }
      </style>

      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

      <login-form on-login-correcto="procesarLogin"></login-form>
      <visor-cuentas hidden$="{{!isLogged}}" userid="{{userid}}" on-account-selected="procesarMovimientos"></visor-cuentas>
      <visor-movimientos hidden$="{{!showMov}}" id="receptor" iban_origen="{{iban_origen}}"></visor-movimientos>

      
  </template>


  <script>
      /**
       * @customElement
       * @polymer
       */
      class DashBoardEvento extends Polymer.Element {
        static get is() { return 'dash-board'; }
        static get properties() {
          return {
            isLogged: {
              type: Boolean,
              value: false
            }, userid: {
              type: String
            }, showMov: {
              type: Boolean,
              value: false
            }, iban_origen: {
              type: String
            }
            
          };
        }
  
        procesarLogin(e) {
          console.log("login-manager.html --> procesarLogin");
          console.log(e);
          console.log(e.detail);

          if(e.detail.isLogged){
            this.isLogged = e.detail.isLogged;
            this.userid = e.detail.id;
          }
        }  
                 
        procesarMovimientos(e) {

          console.log("dash-board-->procesarMovimientos");
          console.log(e);
          console.log(e.detail);

          alert("iban_origen = " + e.detail.iban);
          this.$.receptor.iban_origen = e.detail.iban;
          this.showMov = true;         
        } 
      }      
    
    window.customElements.define(DashBoardEvento.is, DashBoardEvento);

  </script>

</dom-module>